/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
}

h1 {
  margin-top:0;
}

#items {
  border:4px solid #dde;
  background:#eef;
  width:60%;
  float:left;
}

#sidebar {
  border:4px solid #dfd;
  padding:8px;
  float:right;
  width:30%;
}

#items li {
  border:4px solid #f5f5ff;
  background:#fff;
  margin:4px 0;
}

#items ul {
  list-style: none;
  text-indent: 0;
  padding: 0;
  margin: 0;
}

.type {
    font-family: fixed;
}

.legend {
    font-size: xx-small;
}

.ref-updated {
    color: #ECD078;
}

.change-merged {
    color: #D95B43;
}

.comment-added {
    color: #C02942;
}

.patchset-created {
    color: #542437;
}

.change-abandoned {
    color: #53777A;
}

.extra-detail {
    font-size: x-small;
    text-align: right;
    color: #aaa;
}

#mergeattempts {
    display: none;
}

#activity {
    display: none;
}

