/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
}

h1 {
  margin-top:0;
}

#items {
  border:4px solid #dde;
  background:#eef;
  width:60%;
  float:left;
}

#sidebar {
  border:4px solid #dfd;
  padding:8px;
  float:right;
  width:30%;
}

#items li {
  border:4px solid #f5f5ff;
  background:#fff;
  margin:4px 0;
}

#items ul {
  list-style: none;
  text-indent: 0;
  padding: 0;
  margin: 0;
}

.type {
    font-family: fixed;
}

.comment-added, .change-merged, .ref-updated {
    color: green;
}

.patchset-created, .change-restored {
    color: purple;
}

.change-abandoned {
    color: red;
}
